div.content{height:150px;
width: 150px;
border:1px solid black;
float:left;
margin:20px;
font:helvetica;
}
div#first{
    background-color:#A52A2A;
}
div#second{
    background-color:#A53A2A;
}
div#third{
    background-color:#A52A3A;
}
div#fourth{
    background-color:#ff7f50;